.ar-working-area {
  width: 95%;
  height: 95%;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}
.ar-hr {
  width: 55px;
  border: black 1px solid;
  border-radius: 7px;
  margin-bottom: 1px;
  margin-left: 20px;
}
.ar-hr-second {
  width: 62px;
  border: black 1px solid;
  border-radius: 7px;
  margin-bottom: 1px;
  margin-left: 17px;
}
.ar-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  row-gap: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px 10px;
  justify-content: space-evenly; /* Apply spacing between items */
}

.ar-top-container {
  margin-bottom: 20px;
}
